/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Intro */
.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
    cursor: pointer;
    padding: 12px;
    background: #82D173;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

.centered-form button:hover {
    background: #77BE69;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

.centered-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

.centered-form input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

.centered-form h1 {
    margin-bottom: 16px;
}

/* Game */
#drawing {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.center {
    position: absolute;
    left: 50%;
}

.center-content {
    position: relative;
    left: -50%;
}

.header {
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-bar>div {
    pointer-events: auto;
    padding: 5px;
}

.back {
    margin: 6px;
    height: 48px;
    width: 48px;
    background-color: #82D173;
    border-radius: 10px;
}

.back:hover {
    background: #77BE69;
}

.back a {
    color: black;
}

.back i {
    margin-left: 10px;
}

.title {
    user-select: none;
    font-size: 28px;
}

.players {
    margin-right: 134px;
    border-radius: 10px;
    position: relative;
}

.players-box {
    width: 132px;
    padding: 10px;
    background-color: #82D173;
    display: inline-block;
    position: absolute;
    border-radius: 25px;
}

.players-box ul {
    margin-top: 6px;
}

.players-box ul li {
    list-style: none;
}

.alert {
    position: absolute;
    width: 600px;
    height: 60px;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: black;
    text-align: center
}

.alert-text {
    margin-top: 5px;
    font-size: 32px;
}

.toolbox {
    background-color: #eee;
    width: fit-content;
    padding: 1em;
    border-radius: 25px;
}

.toolbox-item {
    display: inline-block;
}

.clear {
    pointer-events: auto;
    display: inline-block;
    height: 48px;
    width: 48px;
    background-color: white;
}

.color {
    pointer-events: auto;
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: gold;
}

.select {
    top: 30%;
}

.select-box {
    width: 680px;
    height: 350px;
    background-color: #eee;
}

.option {
    display: inline-block;
    margin: 1.4%;
    background-color: rgba(197, 197, 197, 0.829);
    width: 30%;
    height: 300px;
}

.option:hover {
    background-color: rgb(143, 143, 143);
}

.option h1 {
    text-align: center;
}

.stars {
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center
}

.stars i {
    margin: 0
}

.answer {
    bottom: 16px;
}

.answer-input {
    width: 300px;
    padding-left: 10px;
    font-size: 32px;
}

.tip {
    bottom: 72px;
}

.letter {
    float: left;
    width: 50px;
    height: 46px;
    margin-left: 10px;
    text-align: center;
    font-size: 32px;
    border-bottom: 3px solid black;
}